html {
	font-family:'Lato', sans-serif;
    background-color:#f2f2e8;
}

.header {
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	color: #FF7F50;
}

.img-circle {
	display: block;
    border-radius: 50%;
    width: 220px;
    height: 200px;
    margin: 0 auto;
    border: 3px solid #600000 ;
    padding: 10px;
}

.experience {
	margin: 0 auto;
    width: 60%;
    text-align: left;
}

#video {
    display: block;
    text-align: center;
    padding-top: 20px;
    color: #FF7F50;
    font-size: 20px;
}   


.h4 {
    display: block;
    text-align: center;
    width: 20%;
    margin: 0 auto;
    font-size: 10px;
    color: #FF7F50
}

.p {
    display: block;
    text-indent: 50px;
    width: 60%;
}