html {
	font-family:'Lato', sans-serif;
}
 
body {
	margin:0;
	padding:0;
	border:0;			
	background:#fff;	
	font-size:90%;

}

a {
	color:#369;
}

a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}

.header {
	font-size: 18px;
	text-align: center;
	color: #003366;
	background-color:#CC9933;
	max-width: 100%;
	margin-top: -10px;
	margin-left: -8px;
	margin-right: -12px;
	margin-bottom: -10px;
}

.main {
	display: inline;
}
.video-container {
	column-width: 500px;
	width: 500px;
	overflow: auto;
}

	.text {

	}

