html {
	font-family:'Lato', sans-serif;
}

.header {
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	color: #FF7F50;
}

.experience {
	margin: 0 auto;
    width: 60%;
    text-align: left;
}

