html {
	font-family:'Lato', sans-serif;
}

.header {
	font-size: 20px;
	text-align: center;
	color: #A52A2A;
}

.image {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -20%;
 }   

.about_me {
	margin: 0 auto;
    width: 60%;
    text-align: center;
}
.resume {
	text-align: center;
	font-size: 15px;
}
