html {
	font-family:'Lato', sans-serif;
}

.h1 {
	font-size: 20px;
	text-align: center;
	color: #A52A2A;
}

.experience {
	margin: 0 auto;
    width: 60%;
    text-align: center;
}

.header {
	font-size: 100px;
	color: #FF7F50;
	text-align: center;
}